<div class="sessions-list-container ">

  <div class="card rounded-0">
    <div class="card-body">
      <ul>
        <li class="row align-items-center row-session" *ngFor="let session of event.sessions; index as indexSession">
          <div class="col">
            Fecha: {{ session.date | date: 'dd/MM/yyyy' }}, Disponibilidad: {{ session.availability }}
          </div>

          <div class="col-auto d-flex align-items-center">
            <button class="btn btn-outline-primary fw-bold" (click)="addLocation(indexSession, -1)"
              [disabled]="!session.amountSelected">-</button>

            <div class="amount-selected-container">
              {{ session.amountSelected }}
            </div>

            <button class="btn btn-outline-primary fw-bold" (click)="addLocation(indexSession, 1)"
              [disabled]="session.amountSelected === session.availability">+</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
