.shopping-cart-container {

  .amount-selected-container {
    width: 30px;
    text-align: center;
  }

  .icon-delete {
    width: 20px;
    height: 20px;

    background-image: url('/assets/img/trash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

}
